<h1>Recipe Input Form</h1>
<form action="/recipes" method="post">
  <input type="text" name="name" Placeholder="Name">
  <input type="text" name="ingredients" Placeholder="Ingredients">
  <input type="text" name="cook_time" Placeholder="Cook time">
  <input type="submit" value="submit">
</form>